In [11]:
from sklearn.decomposition import PCA
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier

In [2]:
h_df = pd.read_csv('heart.csv')

In [3]:
h_df.shape

(918, 12)

In [15]:
h_df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [7]:
h_df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [17]:
pd.get_dummies(h_df, drop_first=True)

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,1,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,0,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,1,1,0,0,1,1,0,0,1,0
914,68,144,193,1,141,3.4,1,1,0,0,0,1,0,0,1,0
915,57,130,131,0,115,1.2,1,1,0,0,0,1,0,1,1,0
916,57,130,236,0,174,0.0,1,0,1,0,0,0,0,0,1,0
917,38,138,175,0,173,0.0,0,1,0,1,0,1,0,0,0,1

In [20]:
le = LabelEncoder()
my_le = le.fit_transform(h_df['ChestPainType'])
le.inverse_transform(my_le)

array(['ATA', 'NAP', 'ATA', 'ASY', 'NAP', 'NAP', 'ATA', 'ATA', 'ASY',
       'ATA', 'NAP', 'ATA', 'ATA', 'ASY', 'NAP', 'ATA', 'ASY', 'ATA',
       'ASY', 'ATA', 'TA', 'ATA', 'ATA', 'ATA', 'NAP', 'NAP', 'ASY',
       'ATA', 'ATA', 'ATA', 'NAP', 'NAP', 'ASY', 'ASY', 'ATA', 'ATA',
       'ASY', 'ATA', 'ATA', 'ASY', 'ATA', 'NAP', 'ATA', 'NAP', 'ASY',
       'NAP', 'ASY', 'ATA', 'NAP', 'ASY', 'ASY', 'ASY', 'ATA', 'ATA',
       'ASY', 'ATA', 'ASY', 'NAP', 'ASY', 'ASY', 'ATA', 'NAP', 'ASY',
       'ASY', 'ATA', 'ATA', 'ASY', 'ATA', 'ASY', 'ASY', 'ATA', 'ATA',
       'ASY', 'ASY', 'ASY', 'NAP', 'ASY', 'ASY', 'ATA', 'ASY', 'NAP',
       'ATA', 'ASY', 'ATA', 'ASY', 'ASY', 'ASY', 'ATA', 'TA', 'ASY',
       'ATA', 'ASY', 'ATA', 'ASY', 'NAP', 'ASY', 'ATA', 'NAP', 'ASY',
       'ATA', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ATA', 'ASY', 'ATA',
       'ASY', 'ATA', 'ATA', 'ASY', 'ASY', 'ATA', 'NAP', 'ASY', 'ASY',
       'ASY', 'TA', 'TA', 'NAP', 'NAP', 'ASY', 'ATA', 'ATA', 'ATA', 'ATA',
       'ASY', 'ATA', 'NAP', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'NAP',
       'ATA', 'ATA', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ATA',
       'ASY', 'ATA', 'ATA', 'ATA', 'ASY', 'ATA', 'ATA', 'ATA', 'ASY',
       'ATA', 'ASY', 'ASY', 'ASY', 'ASY', 'ATA', 'ASY', 'ASY', 'ATA',
       'ATA', 'ATA', 'TA', 'ASY', 'ATA', 'ASY', 'NAP', 'ATA', 'NAP',
       'ATA', 'NAP', 'ASY', 'ASY', 'ASY', 'ATA', 'NAP', 'ASY', 'ASY',
       'ATA', 'ASY', 'ASY', 'ATA', 'NAP', 'ATA', 'ASY', 'ASY', 'ASY',
       'ASY', 'ATA', 'ATA', 'NAP', 'ATA', 'TA', 'ASY', 'ATA', 'ASY', 'TA',
       'TA', 'NAP', 'NAP', 'ATA', 'ATA', 'ASY', 'ATA', 'ATA', 'ATA',
       'ASY', 'ASY', 'NAP', 'NAP', 'NAP', 'ASY', 'TA', 'ASY', 'NAP',
       'ATA', 'ATA', 'ASY', 'ASY', 'NAP', 'NAP', 'ATA', 'ASY', 'NAP',
       'ASY', 'ATA', 'ASY', 'ASY', 'NAP', 'ATA', 'ASY', 'ATA', 'ATA',
       'ASY', 'TA', 'ASY', 'ASY', 'ATA', 'ASY', 'ATA', 'ATA', 'ASY', 'TA',
       'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ATA', 'ASY',
       'NAP', 'ATA', 'NAP', 'NAP', 'ATA', 'ATA', 'ATA', 'ASY', 'ASY',
       'NAP', 'ATA', 'ASY', 'ATA', 'ASY', 'NAP', 'ASY', 'ATA', 'ASY',
       'NAP', 'ATA', 'NAP', 'NAP', 'ASY', 'ASY', 'ATA', 'NAP', 'ASY',
       'NAP', 'ATA', 'ASY', 'NAP', 'ASY', 'ATA', 'ATA', 'ATA', 'NAP',
       'ATA', 'ASY', 'ASY', 'TA', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'ATA', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ATA', 'ASY',
       'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ATA', 'NAP', 'ASY',
       'ASY', 'ASY', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'NAP',
       'ASY', 'ASY', 'ASY', 'NAP', 'ASY', 'NAP', 'ASY', 'ASY', 'TA',
       'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'TA', 'ASY', 'ATA', 'NAP', 'NAP', 'NAP', 'ASY', 'NAP',
       'ASY', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'NAP', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'TA', 'ASY', 'ASY',
       'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'NAP', 'ASY', 'ASY', 'ASY',
       'ASY', 'NAP', 'ASY', 'ASY', 'ASY', 'NAP', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'NAP', 'NAP', 'ASY', 'NAP', 'NAP', 'ATA',
       'ATA', 'ASY', 'ASY', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'NAP', 'NAP', 'NAP', 'ASY', 'ASY', 'ASY',
       'ASY', 'NAP', 'ASY', 'ASY', 'ASY', 'NAP', 'NAP', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'NAP', 'NAP', 'NAP', 'ATA', 'ASY', 'ATA', 'ASY',
       'ASY', 'ASY', 'NAP', 'ATA', 'ASY', 'ASY', 'ASY', 'ASY', 'NAP',
       'ATA', 'NAP', 'TA', 'ASY', 'ASY', 'ATA', 'ATA', 'ASY', 'TA', 'ASY',
       'NAP', 'ASY', 'TA', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'NAP', 'ASY', 'NAP',
       'ASY', 'ASY', 'ASY', 'ASY', 'NAP', 'TA', 'ASY', 'NAP', 'NAP',
       'ASY', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'NAP',
       'ASY', 'ATA', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'NAP', 'ASY', 'ASY', 'ASY', 'NAP', 'NAP', 'ASY', 'ASY',
       'ATA', 'ASY', 'NAP', 'TA', 'ASY', 'TA', 'ASY', 'NAP', 'NAP', 'TA',
       'NAP', 'NAP', 'ASY', 'NAP', 'NAP', 'ASY', 'NAP', 'ATA', 'ASY',
       'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'NAP', 'ASY', 'ATA', 'ASY', 'NAP', 'ASY', 'NAP',
       'ATA', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'ASY', 'NAP', 'ASY',
       'ASY', 'ASY', 'NAP', 'NAP', 'ASY', 'NAP', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'TA', 'ASY', 'ASY', 'ATA', 'ASY', 'NAP',
       'ATA', 'ASY', 'ATA', 'ASY', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'NAP', 'TA', 'ASY', 'ASY', 'ASY', 'ASY', 'TA', 'TA', 'ASY',
       'ATA', 'ASY', 'ASY', 'ATA', 'NAP', 'ASY', 'NAP', 'NAP', 'NAP',
       'NAP', 'ASY', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'TA', 'NAP',
       'ASY', 'ASY', 'ASY', 'NAP', 'ATA', 'NAP', 'NAP', 'NAP', 'ASY',
       'ATA', 'ASY', 'ASY', 'ATA', 'NAP', 'ATA', 'ATA', 'ATA', 'ASY',
       'NAP', 'ASY', 'ATA', 'NAP', 'ASY', 'NAP', 'TA', 'TA', 'ASY', 'ASY',
       'ATA', 'NAP', 'NAP', 'ASY', 'ASY', 'ATA', 'NAP', 'ASY', 'ASY',
       'ASY', 'NAP', 'NAP', 'ATA', 'ASY', 'ASY', 'ASY', 'NAP', 'ASY',
       'TA', 'ATA', 'TA', 'ATA', 'ASY', 'ATA', 'ASY', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'NAP', 'ATA', 'NAP', 'ASY', 'ASY', 'ASY',
       'ASY', 'ASY', 'NAP', 'ASY', 'ASY', 'ATA', 'ASY', 'ATA', 'ASY',
       'NAP', 'ATA', 'ATA', 'ASY', 'ASY', 'TA', 'ASY', 'NAP', 'ASY',
       'ASY', 'NAP', 'NAP', 'NAP', 'ASY', 'NAP', 'ATA', 'ASY', 'ASY',
       'ASY', 'ASY', 'ASY', 'NAP', 'NAP', 'NAP', 'ASY', 'ATA', 'ASY',
       'ASY', 'ASY', 'NAP', 'TA', 'ATA', 'ASY', 'ASY', 'ASY', 'NAP',
       'NAP', 'NAP', 'NAP', 'NAP', 'ASY', 'NAP', 'ATA', 'ASY', 'ATA',
       'TA', 'ASY', 'TA', 'ASY', 'ATA', 'ASY', 'ASY', 'ASY', 'ASY', 'NAP',
       'ASY', 'TA', 'TA', 'NAP', 'ASY', 'NAP', 'TA', 'ASY', 'ASY', 'NAP',
       'ASY', 'NAP', 'NAP', 'ASY', 'ASY', 'ASY', 'NAP', 'NAP', 'ASY',
       'ASY', 'ASY', 'NAP', 'ASY', 'ASY', 'ATA', 'ASY', 'NAP', 'ATA',
       'ASY', 'NAP', 'TA', 'ASY', 'NAP', 'ASY', 'ASY', 'ASY', 'ASY', 'TA',
       'NAP', 'NAP', 'NAP', 'NAP', 'TA', 'NAP', 'NAP', 'ASY', 'ATA',
       'ATA', 'NAP', 'NAP', 'NAP', 'ATA', 'ASY', 'ASY', 'NAP', 'ASY',
       'ASY', 'ATA', 'NAP', 'ASY', 'TA', 'TA', 'ASY', 'ASY', 'ASY', 'ASY',
       'NAP', 'ASY', 'ASY', 'ASY', 'NAP', 'ATA', 'NAP', 'NAP', 'ASY',
       'ASY', 'NAP', 'ASY', 'ASY', 'NAP', 'NAP', 'ASY', 'ASY', 'ATA',
       'ASY', 'NAP', 'NAP', 'ATA', 'NAP', 'ASY', 'NAP', 'ASY', 'NAP',
       'ASY', 'ATA', 'ATA', 'ATA', 'NAP', 'ATA', 'ATA', 'ASY', 'ASY',
       'NAP', 'NAP', 'ASY', 'ASY', 'TA', 'TA', 'NAP', 'NAP', 'ATA', 'ASY',
       'ASY', 'NAP', 'ASY', 'ATA', 'ASY', 'ASY', 'ASY', 'ATA', 'ATA',
       'ATA', 'NAP', 'ATA', 'ASY', 'ASY', 'ASY', 'ATA', 'ASY', 'ASY',
       'TA', 'ASY', 'ASY', 'ATA', 'NAP'], dtype=object)

In [4]:
new_hdf = pd.get_dummies(h_df, drop_first=True)

In [5]:
X = new_hdf.drop('HeartDisease', axis=1)
y = new_hdf['HeartDisease']

In [6]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.4331398 ,  0.41090889,  0.82507026, ..., -0.8235563 ,
        -1.00218103,  1.15067399],
       [-0.47848359,  1.49175234, -0.17196105, ..., -0.8235563 ,
         0.99782372, -0.86905588],
       [-1.75135854, -0.12951283,  0.7701878 , ..., -0.8235563 ,
        -1.00218103,  1.15067399],
       ...,
       [ 0.37009972, -0.12951283, -0.62016778, ...,  1.21424608,
         0.99782372, -0.86905588],
       [ 0.37009972, -0.12951283,  0.34027522, ..., -0.8235563 ,
         0.99782372, -0.86905588],
       [-1.64528563,  0.30282455, -0.21769643, ..., -0.8235563 ,
        -1.00218103,  1.15067399]])

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [8]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(734, 15) (184, 15) (734,) (184,)

In [10]:
scores = cross_val_score(SVC(), X_train, y_train, cv=5)
scores.mean()

0.8691920603857982

In [13]:
bag = BaggingClassifier(SVC(), max_samples=0.8, n_estimators=100, random_state=42)
scores = cross_val_score(bag, X_train, y_train, cv=5)
scores.mean()

0.8705526046034852

In [14]:
scores = cross_val_score(RandomForestClassifier(), X_train, y_train, cv=5)
scores.mean()

0.8705712421955083